body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
   max-width:  900px;
   margin: 0 auto;
}
nav {
    display: flex;
}
.logo {
    margin-right: auto;
    flex: 1;
    margin: 60px 10px;
    margin-left: 0px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    display: flex;
    justify-content: flex-end;
}
ul li {
    flex: 1;
    margin: 60px 10px;
}
.cart {
    flex: 0;
    margin: 60px 10px;
    margin-right: 0px;
}
h1 {
    margin: 30px auto;
    text-align: center;
}
p {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 33%;
    grid-gap: 30px;
}

img {
    width: 100%;
    height: 100%;
}